html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 12px;
  line-height: 20px;
  min-width: 400px;
  min-height: 500px;
}

.query-subject {
	float: right;
	width: 50%;
}

.picture {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	float: left;
}

.picture > img {
	margin-top: 7%;
	margin-bottom: 7%;
	vertical-align: middle;
	height: 80px;

}

.bio {
	width: 50%;
	margin-left: 10px;
	float: right;
}

.join-btn {
	width: 100%;
}